
* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto','Open Sans', Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
}

h1{
    margin-left: 10px;
    padding-top: 30px;
}

label{
    font-size: medium;
}

#clientName{
    width: 400px;
}

#btnCadastroCliente{
    display: inline;

}

.input-group{
    display: flex;
}