
* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto','Open Sans', Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
}

h1{
    padding-top: 3vw;
}

label{
    font-size: medium;
}

#clientName{
    width: 400vw;
}

#btnAdicionaCliente{
    display: inline;
    margin-left: 24.5vw;
    margin-top: -2.72vw;
}

.input-group{
    display: flex;
}

#typeSnack{
    margin-top: 5vh;
    margin-left: -8vw;
}

#btnAdicionaLanche{
    height: 38px;
    top: 5vh;
}